.App-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FFFFF8;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #a55a94;
  position: relative;
}

.App-contact, .App-about, .App-portfolio {
  margin: auto;
  width: 100%;
}

*, :after, :before {
  box-sizing: revert;
}

a {
  text-decoration: none;
  color: #81277a;
}

.center {
  margin: auto;
  justify-content: center;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: revert;
  line-height: revert;
}

input:focus,
textarea:focus,
select:focus,
input,
textarea,
button,
select,
a,
a:focus,
a:visited, 
a:active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  color: #81277a;
}

.small-text {
  font-size: small;
}

.wide-100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}