@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.Contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: auto; 
    transition: transform 0.6s ease-in-out;
}

.Contact-title {
    font-family: 'Bungee Shade', cursive;
    font-weight: normal;
    font-size: 33px;
    margin: 30px;
}
.Contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin:20px;
    width: 550px;
    height: 500px;
    background: #D7FAFF;
    box-shadow: 20px 20px 1px #EABEE0;
}

.Contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact-button {
    width: 120px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border: solid 1px  #a55a94;
    background-color: #e8fcff;
    box-shadow: 4px 4px 1px #EABEE0;
    cursor: pointer;
}

.Contact-button:hover {
    background-color: #f0d9ea;
    transition: all 0.20s;
}

.Contact-button:active {
    box-shadow: 1px 1px 1px #EABEE0;
}

.Contact-input, .Contact-select {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: solid 1px  #a55a94;
    background-color: #EABEE0;
    color: #a55a94;
}

.Contact-textarea {
    width: 442px;
    height: 50px;
}

.Contact-input-long {
    width: 442px;
}

.Contact-select {
    width: 222px;
}

.Contact-message {
    margin: 10px auto;
    font-size: 1.5rem;
}

@media screen and (min-width: 300px) and (max-width: 650px){

    .Contact-wrapper {
        margin: auto;
    }

    .Contact-title {
        font-size: 1.5rem;
        margin: 10px;
    }

    .Contact-form {
        padding: 10px;
        width: 250px;
        height: auto;
    }

    .Contact-section {
        flex-direction: column;
    }
    
    .Contact-input, .Contact-select {
        width: 150px;
        margin: 10px;
        padding: 10px;
        border: solid 1px  #a55a94;
        background-color: #EABEE0;
        color: #a55a94;
    }
    
    .Contact-textarea {
        width: 150px;
    }
    
    .Contact-input-long {
        width: 150px;
    }
    
    .Contact-select {
        width: 172px;
    }
}