@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');

.Footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    color: #a55a94;
    font-size: 13px;
    width: 100%;
    font-family: 'Chivo', sans-serif;
    bottom: 0;
}

.Footer-link {
    width: 40px;
    height: 20px;
    filter: invert(48%) sepia(13%) saturate(1880%) hue-rotate(261deg) brightness(86%) contrast(86%);
}

.Footer-link:hover {
    filter: invert(90%) sepia(22%) saturate(331%) hue-rotate(140deg) brightness(95%) contrast(89%);
    transition: all 0.20s;
}

.Footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.Footer-detail {
    width: 40%;
}

@media screen and (min-width: 300px) and (max-width: 650px){

    .Footer-wrapper {
        font-size: 0.8rem;
        padding: 20px auto;
        background-color: #fffff8da;
    }

}