@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.Portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: transform 0.6s ease-in-out;
}

.carousel {
    width: 800px;
}

.carousel-inner {
    padding-bottom: 20px;
}

.PortfolioBox-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.PortfolioBox-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.PortfolioBox-main-box {
    width: 600px;
    height: 445px;
    margin: 15px;
    background: #D7FAFF no-repeat center top;
    box-shadow: 6px 6px 1px #EABEE0;
    overflow: hidden;
    background-size: cover;
    border: solid 1px  #a55a94;
}

.PortfolioBox-description-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 572px;
    height: 150px;
    margin: 0 15px 0 27px;
    padding: 15px;
    background: #f0d3e9;
    font-size: 14px;
}

.PortfolioBox-p, .PortfolioBox-p-s {
    margin: 5px;
    text-align: left;
}

.PortfolioBox-p-s {
    font-size: 12px;
    font-weight: bold;
}

.PortfolioBox-h3 {
    width: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px 5px 5px;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
    color: #81277a;
}

.PortfolioBox-date {
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
}

.carousel-indicators [data-bs-target] {
    background-color: #81277a;
}

.carousel-indicators {
    margin-bottom: -5px;
}

.carousel-control-next-icon {
    background-image: url('right-arrow.svg');
    filter: invert(19%) sepia(20%) saturate(6096%) hue-rotate(279deg) brightness(100%) contrast(93%);
}

.carousel-control-prev-icon {
    background-image: url('left-arrow.svg');
    filter: invert(19%) sepia(20%) saturate(6096%) hue-rotate(279deg) brightness(100%) contrast(93%);
}

.carousel-control-next, .carousel-control-prev {
    bottom: 200px;
}


@media screen and (min-width: 300px) and (max-width: 800px){

    .carousel {
        width: 100%;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 1.5rem;
    }

    .carousel-control-next, .carousel-control-prev {
        margin: 0 -12px;
        bottom: 239px;
    }

    .PortfolioBox-main-box {
        width: 300px;
        height: 250px;
        margin: 15px;
    }

    .PortfolioBox-description-box {
        width: 270px;
        height: 198px;
        margin: 0 15px 0 27px;
        font-size: 3.5vw;
    }

    .PortfolioBox-p-s {
        font-size: 0.6rem;
    }

    .PortfolioBox-p {
        font-size: 0.8rem;
    }


    .PortfolioBox-h3 {
        width: 260px;
    }

    .carousel.item-active {
        
    }
}